<mat-card>
  <mat-card-content>

    <mat-toolbar color="secondary">
      <span>Lista de Pacientes</span>
    </mat-toolbar>


      <mat-table [dataSource]="paciente" class="mat-elevation-z8">
        <!-- Item Column -->
        <ng-container matColumnDef="item">
          <mat-header-cell *matHeaderCellDef>Item</mat-header-cell >
          <mat-cell *matCellDef="let paciente">
            {{ paciente.item }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
          <mat-cell *matCellDef="let paciente">
            {{ paciente.name }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table >


  </mat-card-content>

</mat-card>
