<mat-card>
  <mat-card-content>

    <mat-toolbar color="secondary">
      <span>Lista de Pacientes</span>
    </mat-toolbar>


      <mat-table [dataSource]="paciente" class="mat-elevation-z8">
        <!-- Item Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let paciente">
            {{ paciente._id }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
          <mat-cell *matCellDef="let paciente">
            {{ paciente.nome }}
          </mat-cell>
        </ng-container>

        <!-- Ações Column -->
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef>
            <button mat-mini-fab color="accent" aria-label="Adicionar um paciente." (click)="onAdd()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let paciente">
            <button mat-icon-button color="primary" aria-label="Editar um paciente.">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Excluir um paciente." >
              <mat-icon>delete</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table >


  </mat-card-content>

</mat-card>
