<mat-table [dataSource]="paciente">

  <!-- Coluna Item -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
    <mat-cell *matCellDef="let paciente">
      {{ paciente._id }}
    </mat-cell>
  </ng-container>

  <!-- Coluna Name -->
  <ng-container matColumnDef="nome" >
    <mat-header-cell *matHeaderCellDef class="column">Nome</mat-header-cell>
    <mat-cell *matCellDef="let paciente" class="column">
      {{ paciente.nome }}
    </mat-cell>
  </ng-container>

  <!-- Coluna Ações -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar um paciente." (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let paciente" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar um paciente." class="action-column-header" (click)="onEdit(paciente)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Excluir um paciente." class="action-column-header" (click)="onDelete(paciente)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table >
