.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 130px;
}

.action-column-header {
  flex: 0 0 100px;
}

.column-data-header{
  flex: 1300px 0 0;
}

.column-data{
  flex: 1270px 0 0;
}
